<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>

    <!-- Bootstrap Core CSS -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link href="/webjars/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet"
          th:href="@{/webjars/metisMenu/2.5.2/metisMenu.min.css}"/>

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet" th:href="@{/css/sb-admin-2.css}"/>

    <!-- Custom Fonts -->
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/webjars/html5shiv/3.7.3/html5shiv.js" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
    <script src="/webjars/respond/1.4.2/dest/respond.min.js" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header">&nbsp;</nav>

    <!-- Page Content -->
    <div id="page-wrapper" layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

        <!-- jQuery -->
        <script src="/webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/webjars/metisMenu/2.5.2/metisMenu.min.js" th:src="@{/webjars/metisMenu/2.5.2/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->



</body>

</html>
