<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>


    <!-- Bootstrap Core CSS -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link href="/webjars/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet"
          th:href="@{/webjars/metisMenu/2.5.2/metisMenu.min.css}"/>

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet" th:href="@{/css/sb-admin-2.css}"/>

    <!-- Morris Charts CSS -->
    <link href="/webjars/morrisjs/0.5.1/morris.css" rel="stylesheet" th:href="@{/webjars/morrisjs/0.5.1/morris.css}"/>

    <!-- Custom Fonts -->
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/webjars/html5shiv/3.7.3/html5shiv.js" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
    <script src="/webjars/respond/1.4.2/dest/respond.min.js" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/header :: header">&nbsp;</nav>

    <div id="page-wrapper" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Morris.js Charts</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Area Chart Example
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-area-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bar Chart Example
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Line Chart Example
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-line-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Donut Chart Example
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Morris.js Usage
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <p>Morris.js is a jQuery based charting plugin created by Olly Smith. In SB Admin, we are using
                            the most recent version of Morris.js which includes the resize function, which makes the
                            charts fully responsive. The documentation for Morris.js is available on their website, <a
                                    target="_blank" href="http://morrisjs.github.io/morris.js/">http://morrisjs.github.io/morris.js/</a>.
                        </p>
                        <a target="_blank" class="btn btn-default btn-lg btn-block"
                           href="http://morrisjs.github.io/morris.js/">View Morris.js Documentation</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <!-- jQuery -->
        <script src="/webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/webjars/metisMenu/2.5.2/metisMenu.min.js" th:src="@{/webjars/metisMenu/2.5.2/metisMenu.min.js}"></script>



        <!-- Morris Charts JavaScript -->
        <script src="/webjars/raphael/2.2.1/raphael.min.js" th:src="@{/webjars/raphael/2.2.1/raphael.min.js}"></script>
        <script src="/webjars/morrisjs/0.5.1/morris.min.js" th:src="@{/webjars/morrisjs/0.5.1/morris.min.js}"></script>
        <script src="../static/data/morris-data.js" th:src="@{/data/morris-data.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->



</body>

</html>
